<footer style="margin-bottom: 13px">
    <hr style="height: 7px; background-color: #eee; margin-bottom: 7px; max-width: 700px;margin-left: 0"  >
    <div style="font-size: 12px;font-weight: bold">
        Economía Libre. Creado por la gente para la gente!
        <a href="{{path('help')}}">¿Quieres ayudar?</a>
    </div>
    
</footer>