<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/appbundle/font-awesome/css/font-awesome.min.css') }}" >
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/appbundle/bootstrap/css/bootstrap.min.css') }}" >

    </head>

    <body class="container">
        <i class="fa fa-shield">listo</i>
    </body>
</html>