.panel{
    max-width: 700px;
}
.panel-default .panel-body .btn{
    min-width: 100px;
}

.panel-default{
    display: none;
}

#responsible{
    float:left;
}
#qrcode{
    float:right;
}
textarea {
    font-size: 18px !important;
    max-width: 660px;
}

