body{
    padding-top: 5em;

}
main{
    max-width: 700px;
    width: 100%;
}

input{
    max-width: 250px;
    width: 100% !important;
}

.btn:hover{
    cursor: pointer; 
}
.card{
    width: 100%;
}


/*menu*/
.navbar{
    background-color: #0275D8 !important;
}
.navbar-toggler{
    z-index: 9999;
}
.navbar-toggler:hover{
    cursor:pointer;
}
.navbar-brand{
    width: 200px;
}
#navbarsUser{
    margin-top: 7px;
    margin-left: 200px;
}
#navbarsUser ul{
    margin-right: 7px;
    float: right;
}


#user2{
    display: none;
}
#logout2{
    display: none;
}

#newPromise2{
    display: none;
}
#myHistory2{
    display: none;
}
#profile2{
    display:none;
}
#whatIs2{
    display:none;
}


@media (max-width: 991px){


    #navbarsUser ul{
        margin-right: 84px;;
    }
    #logout2{
        display:none;
    }
    #logout1{
        display: block;
    }
    #user1{
        display:none;
    }
    #user2{
        display: block;
    }
    #newPromise2{
        display: block;
    }
    #myHistory2{
        display: block;
    }
    #profile2{
        display:block;
    }
    #whatIs2{
        display:block;
    }

}

@media (max-width: 610px){
    #profile2{
        display:none;
    }
    #whatIs2{
        display:none;
    }
}

@media (max-width: 590px){
    #myHistory2{
        display: none;
    }
} 

@media (max-width: 580px){
    #newPromise2{
        display: none;
    }
}

@media (max-width: 530px){
    #user1{
        display:block;
    }
    #user2{
        display: none;
    }

}

@media (max-width: 368px){

    .g-recaptcha{
        transform:scale(0.77);
        -webkit-transform:scale(0.77);
        transform-origin:0 0;
        -webkit-transform-origin:0 0;
    }
}
