.verified{
    display: none;   
}

.alert {
    display:none;
    margin-top: 6px;
}
.processing-image{
    display: none;
    margin-left: -5px;
}
input{
    max-width: 250px;
    width: 100% !important;
}

.description{
    font-size: 1.1rem;
    max-width: 400px;
    font-weight: bold;
}

#div-contact-info{
    display: none;
}
th{
    font-size: 1.1rem;
}

td{
    max-width: 500px;
}

.info, .info-email, .info-phone, .info-others-emails, .info-others-phones,.info-networks{
    display: none;
}

.user-email,.user-network{
    font-weight: bold;
    word-break: break-all;
}

.actions{
    max-width: 250px;
}

.date-action{
    font-size: 0.7rem;

}
.text-action{
    font-weight: bold;
    font-size: 0.9rem;
    word-break: break-word;
}
.responsive-actions{
    display:none;
    margin-top: 6px;
    max-width: 220px;
}


#table-created-promises, #table-received-reviews, #table-written-reviews{
    display: none;
}
#btn-created-promises, #btn-received-reviews,#btn-written-reviews{
    display:none;
}
#btn-more-created-promises,  #btn-more-received-reviews,#btn-more-written-reviews{
    display:none;
}


#div-history-promises {
    display: none;
}
#div-history-promises   hr{

    height: 14px;
    background-color: #eee;
}



#btnShowUserEmails,#btnShowUserPhones{
    display: none;
    margin-bottom: 6px;
}


@media screen and (max-width: 767px) {
    .description{
        font-size: 0.95rem;
    }
    .text-action{
        font-size: 0.85rem;
    }
}
@media screen and (max-width: 680px) {
    .description{
        font-size: 0.90rem;
    }
    .text-action{
        font-size: 0.8rem;
    }
    .info{
        font-size: 1rem;
        font-weight: bold;
    }
}
@media screen and (max-width: 600px) {
    .description{
        font-size: 0.87rem;
    }
}

@media screen and (max-width: 510px) {
    .responsive-actions{
        display: block;
    }
    .actions{
        display: none;
    }
    .btn-lg{
        font-size: 1rem;
        font-weight: bold;  
    }

}
@media screen and (max-width: 480px) {

    .btn-lg{
        font-size: 0.9rem;
        padding: .8rem 1rem;

    }
}
@media screen and (max-width: 450px) {

    .btn-lg{
        font-size: 0.8rem;
        padding: .7rem 0.9rem;
    }
}
@media screen and (max-width: 400px) {

    .btn-lg{
        font-size: 0.75rem;
        padding: 0.5rem 0.7rem;

    }

}