    <button type="button" id="btn-written-reviews"class="btn btn-primary btn-lg" >Monedas utilizadas  <span id="count-written-reviews"></span></button>
    <table id="table-written-reviews" class="table table-striped">
        <thead>
            <tr>
                <th>Monedas utilizadas por <span class="user-name"></span> </th>
            
            </tr>
        </thead>
        <tbody>


        </tbody>
        <tfoot>
            <tr>
                <td>  
                    <button id="btn-more-written-reviews" type="button" class="btn btn-primary btn">Ver mas</button>
                    <img class="processing-image" src="{{asset('bundles/appbundle/img/processing-image.gif')}}">
                    <span class="alert-danger"></span>
                </td>
            </tr>
       
        </tfoot>
    </table>

<script>
    var getMoreWrittenReviewsUrl = "{{path('getMoreProfileWrittenReviews')}}";
</script>
