<div class="card div-action panel-claim">

    <div class="card-header close">X</div>
    <div class="card-header">
        <label class="text-primary lead"><b>Reclamar moneda</b> </label>

    </div>
    <div class="card-block">
        <div >

            <label class="text-primary"><b> Pedir al responsable <label class="responsible" style="display:inline">({{promise.responsible.displayName}})</label> honrar el valor de la moneda. </b></label>
            <label class="text-primary"> <b>Una notificación le será enviada, para que se contacte contigo.</b></label>

        </div>
        <span class="lead alert alert-success"></span>
        <span class="alert alert-danger"></span>
    </div>
    <div class='card-footer'>
        <div><button type="button" class="btn btn-primary btn-lg btn-claim">Reclamar moneda</button><img class="processing-image" src="{{asset('bundles/appbundle/img/processing-image.gif')}}"></div>

    </div>
</div>

<script src="{{ asset('bundles/appbundle/js/actions/action-claim.js')}}"></script>
<script>
    var claimPromiseUrl = "{{ path('claim') }}";
</script>   