   
<div class="panel panel-default panel-grab-promise-anonymous">
    <div class="panel-heading close">X</div>
    <div class="panel-heading">

        <label  class="text-primary"> <label class='lead'><b>Recoger anónimamente</b></label> - La moneda puede ser recogida sin utilizar correo electrónico. </label>

    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-primary btn-lg btn-grab-anonymous-show"> Recoger anónimamente ...</button>
        <div class="grab-anonymous-actions">
            <div >
                <label class="text-warning lead"> <b>La dirección de la moneda cambiará y solamente será conocida por ti. <b>Guárdala para acceder o compartir esta moneda.</b> </label>
                <label class="text-primary">La moneda recogida de forma anónima NO se puede LIBERAR, TRANSFERIR o RECLAMAR.</label>
                <label class="text-primary">Para compartir una moneda anónima, solamente debes de copiar y pegar la dirección a la persona indicada.</label>
            </div>
            <span class="alert-danger"></span>
            <div><span class="lead alert-success"></span></div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="div-btns">
            <button type="button" class="btn btn-primary btn-lg btn-grab-promise-anonymous grab-anonymous-actions">Recoger moneda anónimamente</button>
            <img class="processing-image" src="{{asset('bundles/appbundle/img/processing-image.gif')}}">

        </div>
    </div>
</div>

<input type="hidden" id="anonymous-promise-url" value="{{url('promise',{'code':promise.code})}}"></input>
<script src="{{ asset('bundles/appbundle/js/actions/action-grab-anonymous.js')}}"></script>
<script>
    var grabPromiseAnonymousUrl = "{{ path('grabPromiseAnonymous') }}";
</script>