<div class="card div-action panel-grab-promise">
    <div class="card-header close">X</div>
    <div class="card-header">


        <label  class="text-primary"> 
            <label class="lead"><b>Recoger moneda</b></label> 
            <label> - Esta moneda te ha sido transferida. </label>
        </label>

    </div>

    <div class="card-block">

        <div>
            <label class="text-primary lead"> Si continuas, Tu serás el dueño de la moneda, podrás TRANSFERIR esta moneda o RECLAMAR su valor. </label>
        </div>


    </div>
    <div class="card-footer">

        <span class="alert alert-danger"></span>
        <div><span class="lead alert alert-success"></span></div>
        <!-- botones para validacion de usuario existente -->
        <button type="button" class="btn btn-primary btn-lg btn-grab">Recoger moneda</button>


        <img class="processing-image" src="{{asset('bundles/appbundle/img/processing-image.gif')}}">




    </div>
</div>

<input type="hidden" id="promise-pubkey" value=""></input>
<script src="{{ asset('bundles/appbundle/js/actions/action-grab.js')}}"></script>
<script>
    var grabPromiseUrl = "{{ path('grabPromise') }}";
</script>