<div class="card div-action panel-review ">
    <div class="card-header close">X</div>
    <div class="card-header">
        <label class="text-primary lead">Escribe tu experiencia <b>después</b> de recibir lo prometido.</label>
        <label class="text-primary">Tus plabras serán de gran ayuda para futuras transacciones con el responsable de esta moneda.</label>
        <div>  <label class="text-success lead">Las palabras tienen poder, hablan sobre ti, usalas sabiamente.</label>
        </div>
    </div>
    <div class="card-block">
        <div >

            <p>
                <textarea class="form-control" rows="7" autofocus="" ></textarea>
            </p>

            <span class="alert alert-danger"></span>

            <div><button type="button" class="btn btn-primary btn-lg btn-review">Comentar</button><img class="processing-image" src="{{asset('bundles/appbundle/img/processing-image.gif')}}"></div>
            <span class="lead alert alert-success"></span>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/appbundle/js/actions/action-review.js')}}"></script>
<script>
    var reviewUrl = "{{ path('review') }}";
</script>   