<div class="card div-action panel-claim">

    <div class="card-header close">X</div>
    <div class="card-header">
        <label class="text-primary lead"><b>Reclamar moneda</b> </label>

    </div>
    <div class="card-block">
        <div >

            <label class="text-primary"> Pedir al responsable (<label style="display:inline"><b>{{promise.responsible.displayName}}</b></label>) honrar el valor de la moneda.</label>
            <label class="text-primary"> Una notificación le será enviada, para que se contacte contigo.</label>

        </div>
        <span class="lead alert alert-success"></span>
        <span class="alert alert-danger"></span>
    </div>
    <div class='card-footer'>
        <div><button type="button" class="btn btn-primary btn-lg btn-claim">Reclamar moneda</button><img class="processing-image" src="{{asset('bundles/appbundle/img/processing-image.gif')}}"></div>

    </div>
</div>

<script src="{{ asset('bundles/appbundle/js/actions/action-claim.js')}}"></script>
<script>
    var claimPromiseUrl = "{{ path('claim') }}";
</script>   